In [1]:
pip install openai

Requirement already satisfied: openai in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (1.10.0)
Requirement already satisfied: anyio<5,>=3.5.0 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from openai) (3.7.1)
Requirement already satisfied: distro<2,>=1.7.0 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from openai) (1.8.0)
Requirement already satisfied: httpx<1,>=0.23.0 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from openai) (0.25.1)
Requirement already satisfied: pydantic<3,>=1.9.0 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from openai) (1.10.13)
Requirement already satisfied: sniffio in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from openai) (1.3.0)
Requirement already satisfied: tqdm>4 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from openai) (4.66.1)
Requirement already satisfied: typing-extensions<5,>=4.7 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from openai) (4.8.0)
Requirement already satisfied: idna>=2.8 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from anyio<5,>=3.5.0->openai) (3.4)
Requirement already satisfied: certifi in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from httpx<1,>=0.23.0->openai) (2023.7.22)
Requirement already satisfied: httpcore in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from httpx<1,>=0.23.0->openai) (1.0.2)
Requirement already satisfied: colorama in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from tqdm>4->openai) (0.4.6)
Requirement already satisfied: h11<0.15,>=0.13 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from httpcore->httpx<1,>=0.23.0->openai) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import os
from openai import OpenAI
OpenAI.api_key = os.getenv('OPENAI_API_KEY')
client = OpenAI()

In [5]:
import pandas as pd
import numpy as np
from tenacity import retry, wait_random_exponential, stop_after_attempt
import pickle
import tiktoken

In [190]:
dataset_path = "./Names.csv"
df = pd.read_csv(dataset_path)

In [191]:
df

    Num            Name  Age
0     1           Fahim   40
1     2  Fahim Mohammed   45
2     3      Fahim Mohd   50
3     4          Faheem   40
4     5         Fahim M   45
5     6          Intel    50
6     7             Fam   55
7     8   understanding   40
8     9      understand   45
9    10        Mohammed   50
10   11            mohd   55
11   12       Judicious   40
12   13          Sumeet   50
13   14           Sunny   40
14   15          Chetan   45
15   16         Maneesh   55
16   17         Manisha   55
17   18         William   55
18   19            Will   55
19   20           Willy   55
20   21           Wills   55
21   22            Mike   55
22   23         Michael   55
23   24          Michal   55
24   25             Mat   55
25   26          Mattew   55
26   27            Hugh   55
27   28          Hughes   55
28   29        Xiaohong   55
29   30       Xiao Hong   55

In [192]:
Name = df[df['Num'].between(1,30)]

In [144]:
Name

    Num            Name  Age
0     1           Fahim   40
1     2  Fahim Mohammed   45
2     3      Fahim Mohd   50
3     4          Faheem   40
4     5         Fahim M   45
5     6          Intel    50
6     7             Fam   55
7     8   understanding   40
8     9      understand   45
9    10        Mohammed   50
10   11            mohd   55
11   12       Judicious   40
12   13           Sumit   50
13   14           Sunny   40
14   15          Chetan   45
15   16         Maneesh   55
16   17         Manisha   55
17   18         William   55
18   19            Will   55
19   20           Willy   55
20   21           Wills   55
21   22            Mike   55
22   23         Michael   55
23   24          Michal   55
24   25             Mat   55
25   26          Mattew   55
26   27            Hugh   55
27   28          Hughes   55
28   29        Xiaohong   55
29   30       Xiao Hong   55

In [145]:
def generate_embeddings2(text,model="text-embedding-ada-002"):
    return client.embeddings.create(input = [text], model=model).data[0].embedding

In [195]:
Name["ada_v2"] = Name["Name"].apply(lambda x: generate_embeddings2 (x, model = 'text-embedding-ada-002'))

In [102]:
data = Name[["Name"]].to_dict("records")

In [103]:
data

[{'Name': 'Fahim'},
 {'Name': 'Fahim Mohammed'},
 {'Name': 'Fahim Mohd'},
 {'Name': 'Intelligent'},
 {'Name': 'Faheem'},
 {'Name': 'Fahim M'},
 {'Name': 'Intel '},
 {'Name': 'Fam'},
 {'Name': 'understanding'},
 {'Name': 'understand'},
 {'Name': 'Mohammed'},
 {'Name': 'mohd'},
 {'Name': 'Judicious'},
 {'Name': 'Fahim'},
 {'Name': 'Sumit'},
 {'Name': 'Sunny'},
 {'Name': 'Chetan'},
 {'Name': 'Sumit'},
 {'Name': 'Manish'},
 {'Name': 'Manisha'}]

In [77]:
pip install nomic

Requirement already satisfied: nomic in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (2.0.11)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: click in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from nomic) (8.1.7)
Requirement already satisfied: jsonlines in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from nomic) (4.0.0)
Requirement already satisfied: loguru in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from nomic) (0.7.2)
Requirement already satisfied: rich in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from nomic) (13.6.0)
Requirement already satisfied: requests in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from nomic) (2.31.0)
Requirement already satisfied: numpy in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from nomic) (1.26.0)
Requirement already satisfied: pandas in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from nomic) (1.5.3)
Requirement already satisfied: pydantic in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from nomic) (1.10.13)
Requirement already satisfied: wonderwords in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from nomic) (2.2.0)
Requirement already satisfied: tqdm in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from nomic) (4.66.1)
Requirement already satisfied: cohere in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from nomic) (4.27)
Requirement already satisfied: pyarrow in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from nomic) (13.0.0)
Requirement already satisfied: colorama in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from click->nomic) (0.4.6)
Requirement already satisfied: aiohttp<4.0,>=3.0 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from cohere->nomic) (3.8.5)
Requirement already satisfied: backoff<3.0,>=2.0 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from cohere->nomic) (2.2.1)
Requirement already satisfied: fastavro==1.8.2 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from cohere->nomic) (1.8.2)
Requirement already satisfied: importlib_metadata<7.0,>=6.0 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from cohere->nomic) (6.8.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from cohere->nomic) (2.0.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from requests->nomic) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from requests->nomic) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from requests->nomic) (2023.7.22)
Requirement already satisfied: attrs>=19.2.0 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from jsonlines->nomic) (23.1.0)
Requirement already satisfied: win32-setctime>=1.0.0 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from loguru->nomic) (1.1.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from pandas->nomic) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from pandas->nomic) (2023.3.post1)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from pydantic->nomic) (4.8.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from rich->nomic) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from rich->nomic) (2.16.1)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from aiohttp<4.0,>=3.0->cohere->nomic) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from aiohttp<4.0,>=3.0->cohere->nomic) (4.0.3)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from aiohttp<4.0,>=3.0->cohere->nomic) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from aiohttp<4.0,>=3.0->cohere->nomic) (1.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from aiohttp<4.0,>=3.0->cohere->nomic) (1.3.1)
Requirement already satisfied: zipp>=0.5 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from importlib_metadata<7.0,>=6.0->cohere->nomic) (3.17.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from markdown-it-py>=2.2.0->rich->nomic) (0.1.2)
Requirement already satisfied: six>=1.5 in c:\users\fahim\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.1->pandas->nomic) (1.16.0)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [78]:
from nomic import atlas

In [104]:
project = atlas.map_embeddings (
    embeddings=np.array(list(Name['ada_v2'])),
    data=data,
    id_field='id_'
)

2024-04-22 14:34:27.482 | WARNING  | nomic.atlas:map_embeddings:94 - An ID field was not specified in your data so one was generated for you in insertion order.
2024-04-22 14:34:41.173 | INFO     | nomic.project:_create_project:790 - Creating project `spiffy-fratricide` in organization `fahim.job27`
2024-04-22 14:34:43.869 | INFO     | nomic.atlas:map_embeddings:110 - Uploading embeddings to Atlas.
1it [00:01,  1.51s/it]
2024-04-22 14:34:45.388 | INFO     | nomic.project:_add_data:1422 - Upload succeeded.
2024-04-22 14:34:45.397 | INFO     | nomic.atlas:map_embeddings:129 - Embedding upload succeeded.
2024-04-22 14:34:49.561 | INFO     | nomic.project:create_index:1132 - Created map `spiffy-fratricide` in project `spiffy-fratricide`: https://atlas.nomic.ai/map/bac15702-fd94-4db4-99f5-a8dc85235fe0/25915d88-87cc-4bb5-b8e5-f32bfe80890c
2024-04-22 14:34:49.569 | INFO     | nomic.atlas:map_embeddings:142 - spiffy-fratricide: https://atlas.nomic.ai/map/bac15702-fd94-4db4-99f5-a8dc85235fe0/25915d88-87cc-4bb5-b8e5-f32bfe80890c

In [147]:
def cosine_similarity(a, b):
    return np.dot(a, b) / (np.linalg.norm(a) * np.linalg.norm(b))

def get_embedding(text, model="text-embedding-ada-002"): # model = "deployment_name"
    return client.embeddings.create(input = [text], model=model).data[0].embedding

def search_docs(df, user_query, top_n=10, to_print=True):
    embedding = get_embedding(
        user_query,
        model="text-embedding-ada-002" # model should be set to the deployment name you chose when you deployed the text-embedding-ada-002 (Version 2) model
    )
    df["similarities"] = df.ada_v2.apply(lambda x: cosine_similarity(x, embedding))

    res = (
        df.sort_values("similarities", ascending=False)
        .head(top_n)
    )
    if to_print:
        display(res)
    return res

In [203]:
Name_search = "mohd"

In [204]:
res = search_docs(Name, Name_search, top_n=10)

,Num,Name,Age,ada_v2,similarities
10,11,mohd,55,"[-0.009717714041471481, -0.009664611890912056,...",1.000000
2,3,Fahim Mohd,50,"[-0.011398974806070328, -0.006652187556028366,...",0.904955
9,10,Mohammed,50,"[-0.01976589299738407, -0.02073008194565773, -...",0.887418
1,2,Fahim Mohammed,45,"[-0.00886420626193285, 0.00014974437362980098,...",0.876281
0,1,Fahim,40,"[-0.0009897744748741388, -0.001947728684172034...",0.848832
4,5,Fahim M,45,"[0.0025000975001603365, 0.002927068853750825, ...",0.844123
3,4,Faheem,40,"[-0.006094548851251602, -0.0002344374079257249...",0.843842
16,17,Manisha,55,"[0.01391406636685133, 0.00211558910086751, 0.0...",0.818567
23,24,Michal,55,"[-0.0073491851799190044, -0.012339209206402302...",0.815109
15,16,Maneesh,55,"[-0.0009631195571273565, 0.007991530932486057,...",0.813161